body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidediv {

}

.centerdiv {

}

#cntr {
    background-color:darkseagreen; 
    position:fixed; 
    top:50%; 
    left:50%; 
    height:600px;
    width:1200px;
    margin-top:-300px;
    margin-left:-600px;
    z-index:-1
}

.yellow-background{
    background-color: #FFD464
}

.yellow-text{
    color: #FFD464
}

.red-background{
    background-color: #F26964
}

.red-text{
    color: #F26964
}

.blue-background{
    background-color: #1253A4
}

.blue-text{
    color: #1253A4
}

.white-background{
    background-color: #F4F4F2
}

.white-text{
    color: #F4F4F2
}

.black-background{
    background-color: #30302F
}

.black-text{
    color: #30302F
}
