body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sidediv {

}

.centerdiv {

}

#cntr {
    background-color:darkseagreen; 
    position:fixed; 
    top:50%; 
    left:50%; 
    height:600px;
    width:1200px;
    margin-top:-300px;
    margin-left:-600px;
    z-index:-1
}

.yellow-background{
    background-color: #FFD464
}

.yellow-text{
    color: #FFD464
}

.red-background{
    background-color: #F26964
}

.red-text{
    color: #F26964
}

.blue-background{
    background-color: #1253A4
}

.blue-text{
    color: #1253A4
}

.white-background{
    background-color: #F4F4F2
}

.white-text{
    color: #F4F4F2
}

.black-background{
    background-color: #30302F
}

.black-text{
    color: #30302F
}

.hover-yellow:hover {
    color: #FFD464
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.animatedbutton {
        
    background: #1253A4;
    animation:myfirst 1s;
    -moz-animation:myfirst 1s infinite; /* Firefox */
    -webkit-animation:myfirst 1s infinite; /* Safari and Chrome */
}

@-moz-keyframes myfirst { /* Firefox */
    0%   {background:#1253A4;}
    50%  {background:#F26964;}
    100%   {background:#1253A4;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%   {background:#1253A4;}
    50%  {background:#F26964;}
    100%   {background:#1253A4;}
}

.animatedbutton2 {
        
    background: #1253A4;
    animation:mysecond 1s;
    -moz-animation:mysecond 1s infinite; /* Firefox */
    -webkit-animation:mysecond 1s infinite; /* Safari and Chrome */
}

@-moz-keyframes mysecond { /* Firefox */
    0%   {background:#FFD464;}
    50%  {background:#F26964;}
    100%   {background:#FFD464;}
}

@-webkit-keyframes mysecond /* Safari and Chrome */
{
    0%   {background:#FFD464;}
    50%  {background:#F26964;}
    100%   {background:#FFD464;}
}

.tooltips{
    cursor: pointer;
}

.borderleftandtop {
   
    text-align:center; 
    border-left: 1px solid black; 
    border-top: 1px solid black; 
    /*border-right: 1px solid black*/
}

.width35 {
    width:35px; 
    max-width:35px; 
    text-align:center; 
}

.borderleftandtopandright {
    
    border-left: 1px solid black; 
    border-top: 1px solid black; 
    border-right: 1px solid black
}

.borderbottom {
    border-bottom: 1px solid black;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
	background: #F4F4F2;
	border: 2px solid #1253A4;
	border-radius: 6px;
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
	color: #F26964;
	padding: 8px;
}

.triangle-up {
    margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #1253A4;
}

.triangle-down {
    margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 10px solid #F26964;
}

.rectangle {
    margin: 0 auto;
	width: 15px;
	height: 2px;
	background: #FFD464;
}

/*.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-arrow-background {
	border-color: #1253A4;
}*/
