@model EC2016.Models.IndexModel

<div style="font-size:11px; text-align:left">
    <b>Telitalálat (TT): (10 pont)<br /> </b><span>Az eredmény tökéletes eltalálása</span><br />
    <b>Gólkülönbség eltalálása (GK): (6 pont)<br /></b><span>A két csapat által megszerzett gólok különbségének eltalálása (csak ha a győztest is helyesen tippeltük meg)</span><br />
    <b>Mérkőzés kimenetelének eltalálása (MK): (4 pont)<br /></b><span>A győztes csapat vagy a döntetlen eltalálása, 1-X-2, mint a TOTÓ-ban</span><br />
    <b>Az egyik csapat góljainak eltalálása (CSG): (3 pont)<br /> </b><span>Bármely csapat által szerzett gólok eltalálása</span><br />
    <b>Összes szerzett gól számának eltalálása (ÖG): (2 pont)<br /></b><span>A mérkőzésen született összes gól számának eltalálása</span><br />

</div>

<table border="1">
    <tr>
        <th>H</th>
        <th>Játékos</th>
        <th>TT</th>
        <th>GK</th>
        <th>MK</th>
        <th>CSG</th>
        <th>ÖG</th>
        <th>Összpont</th>
    </tr>


</table>

